@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

@layer base {
  :root {
    --primary-color: #39b2ad;
    --primary-light: #55c9c4;
    --primary-dark: #2b8b87;
    --primary-content: #030303;

    --secondary-color: #b2393e;
    --secondary-light: #c9555a;
    --secondary-dark: #8b2d31;
    --secondary-content: #faf0f0;

    --foreground: #fbfbfb;
    --background: #eff1f1;
    --border: #dde2e1;

    --copy: #232929;
    --copy-light: #5e6e6d;
    --copy-lighter: #849594;
  }

  ::selection {
    background-color: var(--primary-color);
    color: var(--secondary-content);
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  body {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
  }
}
